 
.button
{
	-fx-font-weight:bold;
	
    -fx-background-color:brown;
    -fx-background-radius:20;
    
    -fx-text-fill:white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 5, 5, 4, 3;
		-fx-font-size:16;
	
}
 

.button:hover
{
	-fx-padding-right:25px;
	-fx-background-color:white;
	-fx-text-fill:brown;
			-fx-border-color:black;
		-fx-font-size:18;
 	
 		-fx-font-weight:bold;
 	-fx-background-radius:20;
	-fx-border-radius:20;
	-fx-border-width:2;
	
}

.button:pressed
{
	-fx-background-color:white;
  	-fx-text-fill:white;
	-fx-border-color:black;
 	-fx-border-width:2;
 			-fx-font-size:18;
 	
 		-fx-font-weight:bold;
 	
}
