.root {
      
-fx-text-fill: black;
    
   
    -fx-background-color: #0fdb78;
}

.header-section {
   
    
    -fx-background-color: #a7fb96;
}

.header-section Label {
    -fx-text-fill: black;
    -fx-padding: 10px;
}

#account {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.sidebar-section {

     -fx-text-fill: black;
    -fx-background-color: white;
   
}

.sidebar-section Label {
  
   
}

.content-section {
    
    -fx-padding: 10 20 10 20;
    -fx-wrap-text: true;
    -fx-background-color:#baffd5;

}
.content-section Label {
    -fx-text-fill: black;
    
}

#content-header {
    -fx-font-size: 18px;
    -fx-padding: 0 0 10 0;
    -fx-font-weight: 700;
}

#content {
 -fx-text-fill: black;
    -fx-wrap-text: true;
    -fx-font-size: 16px;
}

#footer-section {
    -fx-alignment: center;
    -fx-padding: 10 10 10 10;
    -fx-border-width: 1;
    -fx-border-color: #E8E8E8 transparent transparent transparent;
}

.custom-text-field {
    -fx-background-color:
        #FFFFFF,
        #FFFFFF;
   
 }

.custom-text-field:focused {
    -fx-background-color:
        #FFFF00,
        #FFFF00;
        
       
}
