 
.button
{
	
    -fx-background-color:white;
    
    -fx-text-fill:green;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 5, 5, 4, 3;
	
}
 
.button:focused {
      -fx-text-fill:white;
    
    -fx-background-color:green;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;
}
.button:hover
{
	-fx-padding-right:25px;
	-fx-font-weight:bold;
	-fx-background-color:white;
	-fx-background-radius:22;
	-fx-font-size:12;
	-fx-text-fill:green;
	-fx-border-color:green;
	-fx-border-width:3;
	
}

.button:pressed
{
	-fx-font-weight:bold;
	-fx-background-color:white;
	-fx-background-radius:22;
	-fx-font-size:13;
	-fx-text-fill:#2196f3;
	-fx-border-color:#2196f3;
	-fx-border-radius:20;
	-fx-border-width:3;
	-fx-effect:rotate;
}
